* {
    margin: 0;
    padding: 0;
}

/* POSITIONING */

body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 60px 10px 175px 15px 1fr 5px 50px 1fr;
    background-color: grey;
}

header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

#employeeForm {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.inputFields {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 25px;
}

#employeeResults {
    grid-column: 2 / 3;
    grid-row: 5 /6;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

#monthlyCostBlock {
    grid-column: 2/3;
    grid-row: 7/8;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    flex-direction: column;
}

/* BLOCK STYLING */

header {
    background-color: #414141;
}

#employeeForm {
    background-color: #fffff0;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px 10px 0px 0px;
}

#employeeResults {
    background-color: whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

#monthlyCostBlock{
    background-color: #1c234a;
    color: white;
}

#maxedMonthlyCostBlock {
    background-color: red;
}

/* INNER ELEMENT STYLING */

.inputFields {
    margin-left: 20px;
    margin-right: 20px;
}

.formField {
    outline: 0;
    border: 0;
    border-bottom: 2px solid #1c234a;
    box-sizing: border-box;
    background: transparent;
    padding: 10px;
}

button {
	cursor: pointer;
	outline: inherit;
}

#submit {
    background-color: #1c234a;
    color: white;
    padding: 10px 30px;
    border: 2px solid #1c234a;
    margin: 10px;
    font-size: 14px;
    transition-duration: 0.4s;
}

#submit:hover{
    background-color: transparent;
    border: 2px solid #1c234a;
    color: #1c234a;;
}

#employeeTable {
    border: 1px solid black;
}

#employeeTable td, #employeeTable th {
    border: 1px solid black;
    padding: 20px;
}

/* FONT STYLING */

* {
    font-family: sans-serif;
}

#pageTitle {
    font-size: 36px;
    color: white;
}

.subHeader {
    font-size: 28px;
}

.inputField{
    font-size: 20px;
}
