* {
    margin: 0;
    padding: 0;
}

/* POSITIONING */

body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 80px 20px 200px 10px 1fr 5px 50px 1fr;
    background-color: #ebebeb;
}

header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

#employeeForm {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.inputFields {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 25px;
}

#employeeResults {
    grid-column: 2 / 3;
    grid-row: 5 /6;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

#monthlyCostBlock {
    grid-column: 2/3;
    grid-row: 7/8;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* BLOCK STYLING */

header {
    background-color: #001c61;
}

#employeeForm {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px 10px 0px 0px;
}

#employeeResults {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

#monthlyCostBlock{
    background-color: #001c61;
    color: white;
    border-radius: 0px 0px 10px 10px;
}

#monthlyCost {
    padding-right: 20px;
}

#monthlyCostOutput {
    background-color: white;
    color: #001c61;
    height: 100%;
    padding-left: 20px;
    padding-right: 100px;
    border-radius: 0px 0px 10px 0px;

    display: flex;
    align-items: center;
}

/* INNER ELEMENT STYLING */

.inputFields {
    margin-left: 20px;
    margin-right: 20px;
}

.formField {
    outline: 0;
    border: 0;
    border-bottom: 2px solid #001c61;
    box-sizing: border-box;
    background: transparent;
    padding: 10px;
}

button {
	cursor: pointer;
	outline: inherit;
}

#submit {
    background-color: #001c61;
    border: 2px solid #001c61;
    color: white;
    padding: 10px 30px;
    margin: 10px;
    font-size: 14px;
    transition-duration: 0.3s;
}

#submit:hover{
    background-color: transparent;
    border: 2px solid #001c61;
    color: #001c61;
}

#remove {
    background-color: white;
    border: 2px solid #8b0000;
    color: #8b0000;
    padding: 5px 10px;
    font-size: 14px;
    transition-duration: 0.3s;
}

#remove:hover{
    background-color: #8b0000;
    border: 2px solid #8b0000;
    color: white;
}

#employeeTable {
    border-collapse: separate;
    border-spacing: 2px 10px;
}

#tableHeader {
    box-shadow: none;
}

tr {
    box-shadow: 0px 0px 3px grey;
    transition-duration: 0.3s;
}

tr:hover{
    background-color: #ebebeb;
}

th {
   background-color:#001c61;
   color: white;
   font-weight: normal;
   text-align: left;
   padding: 10px 30px;
}

td {
    background-color: transparent;
    color: auto;
    text-align: left;
    padding: 10px 30px;
}

/* FONT STYLING */

* {
    font-family: sans-serif;
}

#pageTitle {
    font-size: 36px;
    color: white;
}

.subHeader {
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 10px;
}

#monthlyCost, #monthlyCostOutput {
    font-size: 20px
}